*{
    margin: 0;
}
body{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
}
a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
section p,img{
    padding: 10px;
}
#tomjerry{
    background: #FAB201
}
#shinchen{
    background: #FB4F93
}
#pokeman{
    background: #00C7DA
}
